/** @format */
.container {
	display: flex;
	align-items: center;
}
.container input {
	width: 350px;
	border: 2px ridge rgb(119, 194, 109);
	padding: 8px 14px;
	font-size: 1.3rem;
	margin-bottom: 60px;
	border: dashed 1px seagreen;
	border-radius: 10px;
}
input:focus {
	outline: none;
}
.container button {
	padding: 9px 14px;
	font-size: 1.3rem;
	margin-bottom: 60px;
	cursor: pointer;
	margin-left: 4px;
	border: dashed 1px seagreen;
	border-radius: 10px;
	background-color: rgb(1, 1, 8);
	color: rgb(255, 254, 255);
	transition: all 0.4s ease;
}
.container button:hover {
	color: #000;
	background-color: #d5dce0;
}
