* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(240, 239, 237);
	max-width: 1700px;
	margin: auto;
	display: flex;
	justify-content: center;

	margin-top: 100px;
}
